<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />
    <title>photoGalery</title>
    <link rel="stylesheet" href="/styles.css" />
    
  </head>

  <body>
    <h1>Welcome to Salvador Dali museum</h1>
    <p>"I want my museum to be a single block, a labyrinth, a great surrealist object. It will betotally theatrical museum. The people who come to see it will leave with the sensation of having had a theatrical dream."</br>Salvador Dalí</p>

    <div id='links'>
          <a href="/about">About Salvador Dali</a>
     <a href="/works">Salvador Dali's work</a>
      <a href="/photoGalery">Painting galery</a>
    </div>


  </body>

</html>