<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />
    <title>photoGalery</title>
    <link rel="stylesheet" href="/styles.css" />
    
  </head>

  <body>
    <h1>Photo galery</h1>
    <div >
    <img src="/images/the-persistence-of-memory-1931.jpg" />
 <img src="images/Metamorphosis_of_Narcissus_1937jpg.jpg" />
  <img src="images/The_Temptation_of_St._Anthony_1946.jpg" />
   <img src="images/Galaofspheres_1951.JPG" />
    </div>

   
    <a href="/home">Home page</a>

  </body>

</html>