<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />
    <title>Work of Dali</title>
    <link rel="stylesheet" href="/styles.css" />
    
  </head>

  <body>
    <h1>Salvador Dali's work</h1>
    <p>
      Dali wanted to revolutionize the art of the twentieth century. All of his initial efforts to improve techniques that were already mastered did not gain him any significant fame. He tried to improve many different styles of art, such as Impressionism, Pointillism, Futurism, Cubism, and Neo-Cubism (Secrest 15). Nevertheless, he sought to fulfill the needs of his mental and social life through a new form of art. This new style of art was Surrealism that allowed Dali to express all of his “erotic desires” and at the same time change the way the world viewed art. 
    </p>
    <a href="/home">HOME PAGE</a>

  </body>

</html>