h1 {
  color: red;
}

div img{
  width: 200px;
  height: 150px;
}

p, h1{
  text-align: center;
}
p{
  font-size: 25px;
  margin: 60px
}

div a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#links{

  display: flex;
  justify-content: space-around;
margin-top: 170px;
}